*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
       
    }

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
   
    }
    header{
        background: #f02828;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 1px 1px 4px #000;
    }

    .logo{
        display: flex;
        align-items: center;
    }

    .logo img{
        width: 240px;
        padding: 15px;
        margin: auto;
    }

    .menu{
        padding: 20px;
    }
    
    nav{
        padding: 15px;
    }

    .buttonLogout {
    background-color: rgb(255, 60, 0); /* red */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: table;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    border-color: #000;
    box-shadow: 1px 1px 4px #000;
    }

    .center{
        display: flex;
        justify-content: center;
    }

    .form-center {
        display:flex;
        justify-content: center;
        padding: 5px;
    }
    
    .title2{
        display: flex;
        justify-content: center;
        font-family: 'Tilt Warp', cursive;
        position: relative;
        top: 27px;
        font-size: 30px;
    }

    .code-center{
        position: relative;
        top: 20px;
        display:flex;
        justify-content: center;
    }

    .title{
        position: relative;
        top: 25px;
        display: flex;
        justify-content: center;
        font-family: 'Tilt Warp', cursive;
    
    }

    form{
        padding: 3px;
    }

    form label{
        margin: 8px;
        font-family: 'Encode Sans Expanded', sans-serif;
        
        
    }

    form input{
        margin: 4px;
        border-radius:6px;
        
    }

    h1{
        display: inline-block;
        position: relative;
    }

    h1::after,h1::before{
        content:'';
        position: absolute;
        width: 120px;
        height: 3px;
        background-color: currentColor;
        top: 0.6em;
    }

    h1::before{
        left: 34%;
    }

    h1::after{
        right: 34%;
    }

    .box{
        text-align: center;
        padding: 0.5px;
    }

    .container{
        position: relative;
        top: 55px; left: 300px;
        width: 1400px;
        height: 450px;
        display: block;
        align-items: center; 
        justify-content: center;
        box-shadow: 0px 1px 10px rgba(0,0 ,0, 0.2);
        border-radius: 10px;
        border-color: #000;
        color: #000;
        overflow: hidden;
        overflow-y: scroll;
    }
    
    .row{
        display: flex;  
    }

    .card{
        position: relative;
        bottom: 25%;
        width: 436px;
        height: 170px;
        margin: 12px;
        border-radius: 10px;
        padding: 10px;
        overflow: hidden;
        background: #fff;
        box-shadow: 0px 1px 10px rgba(0,0 ,0, 0.2);
        cursor: default;
        transition: all 400ms ease;
    }

    .card:hover{
        box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
        transform: translateY(-3%);
    }
  
    .left{
        text-align: left;
        line-height: 1.5;
        padding-left: 10px;
        padding-right: 100px;
        padding-top: 10px;
        margin-left: 5px;
        float: left;
        position: absolute;
        width: 100%;
        height: auto;
    }

    .right {
        text-align: center;
        padding-top: 100px;
        padding-right: 10px;
        padding-left: 230px;
        margin-left: 10px;
        position: absolute;
        float: right;
        width: 100%;
        height: auto;
    }


    footer{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: #f02828;
        height: auto;
        width: 100vw;
        font-family: "Open Sans";
        padding-top: 5px;
        box-shadow: 1px 1px 5px #000;
        
    }

    .footer-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .footer-content h2{
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 3rem;
    }

    .footer-content p{
        max-width: 500px;
        margin: 0px auto;
        line-height: 28px;
        font-size: 14px;
    }

    .footer-bottom{
        width: 100vw;
        padding: 5px 0;
        text-align: center;
    }

    .footer-bottom p{
        font-size: 14px;
        word-spacing: 1px;
        text-transform: capitalize;
        color:black;
    }

    .footer-bottom a{
        text-decoration: none;
        color: black
    }

    .footer-bottom a::after{
        content: '';
        text-decoration: underline red;
    }