 <div class="card">
        <div class="left">
                <p><strong>Nombre del Curso</strong>: ${txtNombreCurso}</p>
                <p><strong>Turno</strong>: ${txtTurno}</p>
                <p><strong>Docente</strong>: ${txtDocente}</p> 
                <p><strong>Créditos</strong>: ${txtCreditos}</p>    
                <p><strong>Horas Semanales</strong>:${txtHorasSemanales}</p>
                <p><strong>Sección</strong>:${Seccion}</p>
        </div>
        <div class="right">
            <p>Promedio Final</p>  
            <h2>${PromedioFinal}</h2>
        </div>
 </div>
